<h1>Java redirect</h1>
Simple applet for redirecting www browser to location, which (may) depends on
values of system properties.
<P>Made by Radim Kolar (hsn@cybermail.net)<BR>
Product homepage http://ncic.netmag.cz/apps/nase/redir.html
<HR>
The <a href="redir.java">source</a>.<BR>
<!-- DEMO, SENDS USERS OF IBM JVM INTO SPECIFIC PAGE, OTHERS TO HOMEPAGE -->
<applet code="redir.class" width=1 height=1>
<param name="bgcolor" value="0000cc">
<param name="target" value="_self">
<param name="default" value="http://ncic.netmag.cz/">
<param name="location1" value="http://ncic.netmag.cz/java/jdk/java114os2.html">
<param name="property1" value="java.vendor">
<param name="value1" value="IBM">
</applet>